body{
    background-color: aqua;
}
h1{
    color: blue;
     text-align: center;
}
p{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}