body{
    background-color: aqua;
}
h1{
    color: blanchedalmond;
     text-align: center;
}
p{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
#encabezado{
    background-color: aquamarine;
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(223, 12, 12, 11);
}

#encabezado .encabezado1{
    color: black;
}
#encabezado .encabezado2 {
    color: brown;
}                        
#encabezado .encabezado3 {
    color: blueviolet;
}